<h1> New Student </h1>

<%= form_with  model: @student do |form| %>   
<div>
<%= form.label :firstname %></br>
<%= form.text_field :firstname %></br>
<% @student.errors.full_messages_for(:firstname).each do |message| %>
      <div><%= message %></div>
      <% end %>
</div>

<div>
<%= form.label :lastname %></br>
<%= form.text_field :lastname %></br>
<% @student.errors.full_messages_for(:lastname).each do |message| %>
      <div><%= message %></div>
      <% end %>
</div>

<div>
<%= form.label :email %></br>
<%= form.text_field :email %></br>
<% @student.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
      <% end %>
</div>
<div>
<%= form.submit %>
</div>
<% end %>
