<h1> Show</h1>


<h2> <%= @student.firstname %></h2>
<h2> <%= @student.lastname %></h2>
<h2> <%= @student.email %></h2>

<%= link_to 'Back', students_path %>
<ul>
  <li><%= link_to "Edit", edit_student_path(@student) %></li>
  <li><%= link_to "Destroy", student_path(@student), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>